

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    background: #f9f9f9;
    /*margin: auto;
    position: relative;
    width: 960px;*/
}

.privacy-meter-label {
	text-align: center;
}

.jumbotron {
	background: #ddd;
}

.question {
	margin-bottom: 3em;
}

.privacy-meter-label {
	font-weight: bold;
}

#survey-page {
	visibility: hidden;
}

.bargraph {
  width: 0%;
  position: relative;
  visibility: hidden;
  margin-bottom: 4em;
  padding-bottom: 5em;
}

.bargraph-layer {
  color: rgba(0,0,0,0);
  float: left;
  width: 0%;
  height: 5em;
}

.layer-1 {
  background-color:  red
}
.layer-2 {
  background-color:  orange
}
.layer-3 {
  background-color:  yellow
}
.layer-4 {
  background-color:  green
}
.layer-5 {
  background-color:  blue
}
.layer-6 {
  background-color:  purple
}
.layer-7 {
  background-color:  gray
}