

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    background: #f9f9f9;
}

.privacy-meter-label {
	text-align: center;
}

.jumbotron {
	background: #ddd;
}

.question {
	margin-bottom: 3em;
}

.privacy-meter-label {
	font-weight: bold;
}