<div class="jumbotron">
	<div class="container">
		<h2>Here's how everyone feels about that...</h2>
		<p>The graphs below show the percentage of votes per ranking for each type of information. Hover over the graphs to see which ranking each section corresponds to!</p>
		<p>Here's the catch: no matter how personal you think this information is, Facebook is collecting it about <em>you</em>. </p>
		<p><a class="btn btn-primary btn-lg" href="#/tools" role="button">Learn how to protect your information &raquo;</a></p>
	</div>
</div>
<div class="container container-fluid">
	

	<h3>{{empInfoLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-empinfo">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-empinfo-{{$index}}" ng-repeat="level in stats.allStats.empinfo track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{finBehLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-finbeh">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-finbeh-{{$index}}" ng-repeat="level in stats.allStats.finbeh track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{charDonLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-chardon">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-chardon-{{$index}}" ng-repeat="level in stats.allStats.chardon track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{expInfoLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-expinfo">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-expinfo-{{$index}}" ng-repeat="level in stats.allStats.expinfo track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{resProfLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-resprof">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-resprof-{{$index}}" ng-repeat="level in stats.allStats.resprof track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{travBehLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-travbeh">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-travbeh-{{$index}}" ng-repeat="level in stats.allStats.travbeh track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{purchBehLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-purchbeh">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-purchbeh-{{$index}}" ng-repeat="level in stats.allStats.purchbeh track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<h3>{{medConLabel()}}</h3>
	<div class="bargraph allstats" id="allstats-medcon">
		<div class="bargraph-layer layer-{{$index}}" id="layer-allstats-medcon-{{$index}}" ng-repeat="level in stats.allStats.medcon track by $index" ng-hide="$index == 0">
			<p class="bargraph-label">{{privacyMeterLabel($index)}}</p>
		</div>
	</div>

	<!--<p style="text-align: center">
        <button id="retake-button" class="btn btn-lg btn-primary" ng-click="clearHistory()">Retake the survey</button>
    </p>-->
</div>