<div class="jumbotron">
    <div class="container">
        <h2>Here's what you can do about it...</h2>
        <p>Below are links to very easy-to-use privacy tools and opt-out pages of major digital advertising groups and social networks.</p>
        <p>Companies won't respect your personal beliefs unless you make them known. Make your browser work for you by taking advantage of these tools and opt-outs!</p>
        
    </div>
</div>
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-4">
          <h2>Privacy Tools</h2>
          <p><a href="https://www.ghostery.com/">Ghostery</a>, <a href="https://www.ublock.org/">uBlock</a>, <a href="https://www.eff.org/https-everywhere">HTTPS Everywhere</a>, and <a href="https://www.mozilla.org/en-US/lightbeam/">Lightbeam</a> are very useful tools that prevent unwanted tracking from advertising companies and keep your online activity safe. You can also <a href="https://www.eff.org/deeplinks/2012/06/how-turn-do-not-track-your-browser">enable the "Do Not Track" header</a> in your browser and <a href="http://www.cnet.com/how-to/disable-third-party-cookies-in-ie-firefox-and-google-chrome/">disable third party cookies.</a></p>
        </div>
        <div class="col-md-4">
          <h2>Advertiser Opt-Outs</h2>
          <p>Visit the Digital Advertising Alliance's <a href="http://www.aboutads.info/choices/">Consumer Choice Page</a> and <a href="http://info.evidon.com/more_info">Ghostery Enterprise</a> and follow the instructions to opt-out of tracking for interest-based ads by all companies participating in each page.</p>
       </div>
        <div class="col-md-4">
          <h2>Social Network Preferences</h2>
          <p><a href="https://www.facebook.com/settings?tab=ads">Facebook</a> and <a href="https://twitter.com/settings/security">Twitter</a> have internal opt-outs that keep those networks from tracking your data as well. </p>
        </div>
    </div>
    <h2>Finally...</h2>
    <p>Share this website with your other friends on Facebook! They should know exactly how Facebook is using their personal information and what they can do to protect themselves. Help make protected browsing the new normal!</p>
    <a target="_blank" class="btn btn-primary" href="http://www.facebook.com/sharer.php?u=http://www.whatdoesfbknow.com&t=What Does Facebook Know?">Share</a>
</div>